body {
  background-color: #D7D3C8;
  color: #4D4E53;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.vote-box {
  margin: 0 auto;
  width: 135px;
  height: 3px;
  background-color: #4D4E53;
  border-top: 1px solid #979590;
}
.item-container {
  text-align: left;
  overflow: hidden;
  margin-bottom: 15px;
}
.bold {
  font-weight: 600;
}
.item-container.expand .number {
  color: #A7A49E;
}
.item-container.expand .question-container {
  background-color: #EAE5DA;
}
.number {
  transition: color .3s;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #4D4E53;
  font-weight: 600;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border: 1px solid #D7D3C8;
  float: left;
  margin: 0 0 0 30px;
  font-size: 35px;
}
html {
  overflow-y: scroll;
}
.question-container {
  transition: background-color .3s;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.answer-container {
  position: relative;
  overflow: hidden;
}
.answer-container,
.question-container {
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  float: left;
}
.question {
  font-size: 20px;
  margin: 0 30px;
}
.info-container {
  max-height: 0;
  transition: max-height .3s;
}
.info-container.expand {
  max-height: 200px;
}
.info-wrapper {
  padding: 40px 50px 10px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.info-icon {
  width: 120px;
  height: 100px;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 30px;
}
.your-answer {
  text-transform: uppercase;
  font-size: 14px;
  color: #D7D3C8;
}
.circle {
  background-color: #D7D3C8;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 210px;
  top: -165px;
  left: 50%;
  margin-left: -105px;
}
.your-answer-container {
  border: 1px solid #D7D3C8;
  font-size: 28px;
  font-weight: 300;
  justify-content: center;
}
.arrow-container {
  text-align: center;
  margin-bottom: 5px;
}
.your-answer-container.no-answer,
.your-answer-container.yes-answer {
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 123px;
  transition: right .3s;
  opacity: 0;
  z-index: -1;
}
.status-no .your-answer-container.no-answer,
.status-yes .your-answer-container.yes-answer {
  right: 40px;
  opacity: 1;
  z-index: 0;
}
.yes-answer {
  right: 203px;
}
.no-answer {
  right: 40px;
}
.your-answer {
  width: 50%;
  float: left;
  height: 100%;
}
.your-answer-container,
.your-answer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.answered {
  padding: 30px 70px 30px 65px;
  color: #FFFFFF;
  opacity: 0;
  z-index: -1;
}
.unanswered {
  background: linear-gradient(to right, #414142 50%, #2E2E2E 50%);
}
.answered,
.unanswered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .3s;
}
.fadein {
  opacity: 1;
  z-index: 0;
}
.status-yes .yes-option,
.status-yes .no-option,
.status-no .yes-option,
.status-no .no-option {
  display: none;
}
.status-yes .answered {
  background-color: #6CB74C;
}
.status-no .answered {
  background-color: #BA3B33;
}
.eye-spacing {
  float: left;
  height: 1px;
  width: 20%;
}
.status-yes .yes-answer,
.status-no .no-answer {
  display: flex;
}
.hidden {
  display: none;
}
.no-option-border {
  border-color: #2E2E2E;
}
.yes-option-border {
  border-color: #414142;
}
.no-option-border,
.yes-option-border {
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border-color .5s;
  border-style: solid;
  border-width: 1px;
}
.yes-no-option-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.or-option {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: #757575;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
}
.cancel-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.no-option-border:hover,
.yes-option-border:hover,
.no-option-border:active,
.yes-option-border:active {
  border-color: #D7D3C8;
}
.no-option,
.yes-option {
  width: 50%;
  height: 100%;
  float: left;
  color: #FFFFFF;
  font-size: 27px;
  cursor: pointer;
  padding: 30px 40px;
  font-weight: 300;
}
.step-container {
  position: relative;
  overflow: hidden;
  height: 150px;
}
.title {
  padding: 35px 0;
  font-weight: 300;
  font-size: 45px;
  overflow: hidden;
}
.title-1 {
  text-align: right;
}
.title-2 {
  text-align: left;
}
.title-1,
.title-2 {
  float: left;
  width: 40%;
}
.main {
  margin-bottom: 185px;
}
.final-step-text {
  padding: 40px;
  font-size: 37px;
  font-weight: 300;
}
.cta-button {
  font-family: inherit;
  font-weight: 300;
  font-weight: light;
  box-shadow: 0 2px 0 #B2B0A8, inset 0 -2px 0 #1F6DB7;
  cursor: pointer;
  padding: 15px 60px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 30px;
  text-decoration: none;
  background: linear-gradient(to bottom, #42A5E1, #247BC1);
}
.header {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
@media (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}

.front {
  height: 100%;
  width: 100%;
}

.privacy-eye {
  height: 55px;
  width: 55px;
  position: absolute;
  top: 0;
  padding: 2px;
  top: -85px;
  left: -25px;
}

.eye-container {
  height: 0;
  width: 0;
  flex-shrink: 0;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.eyelid {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.eye-image {
  margin-top: -150px;
  margin-left: -60px;
}

.eyelid::before,
.eyelid::after {
  background: #4D4E53;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  width: 100%;
  -webkit-animation: real-eyelids 7s infinite;
  -o-animation: real-eyelids 7s infinite;
  -moz-animation: real-eyelids 7s infinite;
  animation: real-eyelids 7s infinite;
}

.eyelid::before {
  top: 0;
  z-index: 100;
}

.eyelid::after {
  bottom: 0;
}

.sclera {
  width: 100%;
  height: 100%;
  position: relative;
}

.iris {
  border: 2px solid #4D4E53;
  border-radius: 50%;
  height: 60%;
  width: 60%;
  padding: 7.5%;
  position: relative;
  top: 19.5%;
  left: 20.5%;
}

.privacy-eye.wander .iris {
  -webkit-animation: searching-eye 7s infinite;
  -o-animation: searching-eye 7s infinite;
  -moz-animation: searching-eye 7s infinite;
  animation: searching-eye 7s infinite;
}

.privacy-eye.focus .iris {
  padding: 21%;
}

.privacy-eye.smooth .iris {
  transition: padding .3s, transform .2s;
}

.privacy-eye .iris {
  transition: padding .3s;
}

.pupil {
  background: #4D4E53;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: relative;
}

@-webkit-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-o-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-moz-keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@keyframes real-eyelids {
  0%,
  90%,
  100% {
    height: 0;
  }
  95% {
    height: 60%;
  }
}

@-webkit-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@-o-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@-moz-keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}

@keyframes searching-eye {
  0%,
  85.714285716%,
  100% {
    top: 17.5%;
    left: 17.5%;
  }
  14.285714286% {
    top: 17.5%;
    left: 8%;
  }
  28.571428572% {
    top: 30%;
    left: 8%;
  }
  42.857142858% {
    top: 30%;
    left: 30%;
  }
  57.142857144% {
    top: 8%;
    left: 30%;
  }
  71.42857143% {
    top: 8%;
    left: 8%;
  }
  85.7142857% {
    top: 0;
    left: 17.5%;
  }
}
